* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.home .search {
  display: flex;
  height: 50px;
  width: 50%;
  margin-bottom: 50px;
}

.home .search input {
  width: 100%;
  padding-left: 15px;
}

.home button {
  height: 100%;
  padding: 10px;
}

.product-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.product {
  display: flex;
  width: 90vw;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.product span {
  width: fit-content;
  border: 1px solid black;
  border-radius: 10px;
  padding: 0px 5px;
  margin: 10px 0px;
}
